<div class="db-selector" ng-hide="showWarning">
  <select ng-model="currentDb" ng-options="db for db in allDbs" ng-change="fetch()" class="text-center input-lg">
  </select>
  <button type="button" class="fetch btn btn-success form-control input-lg" ng-click="fetch()">
    <span class="glyphicon glyphicon-cloud-download"></span>
    Fetch
  </button>
</div>
<div class="alert alert-warning" role="alert" ng-if="showWarning">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    Could not connect to your local CouchDB.
  </div>
  <ul>
    <li> Make sure it is running.</li>
    <li> Enable CORS by adding
  <pre>
    [httpd]
    enable_cors = true

    [cors]
    origins = http://couchlens.divshot.io
  </pre>

      to <code>local.ini</code> config of CouchDB. (If you've brew installed, it's at <code>/usr/local/etc/couchdb/local.ini</code>)
    </li>
  </ul>
</div>
<tabset class="clearfix" justified="true" ng-hide="showWarning">
  <tab heading="{{docType}}" ng-repeat="docType in docTypes">
    <div>
      <h3>{{docType}}</h3>
      <table class="table">
        <tr>
          <th ng-repeat="attrName in docTypeAttrs[docType]">
            {{attrName}}
          </th>
        </tr>
        <tr ng-repeat="doc in docsByType[docType]">
          <td ng-repeat="attrName in docTypeAttrs[docType]">
            {{doc[attrName]}}
          </td>
        </tr>
      </table>
    </div>
  </tab>
</tabset>
