<div class="db-selector" ng-hide="showWarning">
  <select ng-model="currentDb" ng-options="db for db in allDbs" ng-change="fetch()" class="text-center input-lg">
  </select>
  <button type="button" class="fetch btn btn-success form-control input-lg" ng-click="fetch()">
    <span class="glyphicon glyphicon-cloud-download"></span>
    Fetch
  </button>
</div>
<div class="show-all">
  <button type="button" class="show-btn btn btn-success form-control input-lg" ng-click="resetDocumentSelection()">
    <span class="glyphicon glyphicon-refresh"></span>
    Clear Filter
  </button>
</div>
<div class="document-selector" ng-hide="showWarning">
  <input class="text-center input-lg" ng-model="docId" type="text" placeholder="Search by Doc ID" />
  <i class="fetch-doc glyphicon glyphicon-circle-arrow-right" ng-click="fetchByDocId()"></i>
</div>
<div class="clear"></div>
<div class="error" ng-show="error">
  <span class="warning glyphicon glyphicon-warning-sign"></span> <span class="error-msg">No Matching Documents found!</span>
</div>
<div class="alert alert-warning" role="alert" ng-if="showWarning">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    Could not connect to your local CouchDB.
  </div>
  <ul>
    <li> Make sure it is running.</li>
    <li> Enable CORS by adding
  <pre>
    [httpd]
    enable_cors = true

    [cors]
    origins = http://couchlens.divshot.io
  </pre>

      to <code>local.ini</code> config of CouchDB. (If you've brew installed, it's at <code>/usr/local/etc/couchdb/local.ini</code>)
    </li>
  </ul>
</div>
<br/> <br/>
<tabset class="clearfix" justified="true" ng-hide="showWarning">
  <tab heading="{{docType}}" ng-repeat="docType in getDocTypes()">
    <div>
      <h3>{{docType}}</h3>
      <table class="table">
        <tr>
          <th ng-repeat="attrName in docTypeAttrs[docType]">
            {{attrName}}
          </th>
        </tr>
        <tr ng-show="noDocumentSelected" ng-repeat="doc in docsByType[docType]">
          <td ng-repeat="attrName in docTypeAttrs[docType]">
            {{doc[attrName]}}
          </td>
        </tr>
        <tr ng-hide="noDocumentSelected">
          <td ng-repeat="attrName in docTypeAttrs[docType]">
            {{document[attrName]}}
          </td>
        </tr>
      </table>
    </div>
  </tab>
</tabset>
